{:domain "magnum.auth0.com"
 :issuer "https://magnum.auth0.com/"
 :client-id "B7aOtrTYvW6enR13DZsQ4gI58QGEeHtE"
 :signing-algorithm :hs256
 :client-secret "tPBPYYlRK2fnZ1RNGSao_R9zQEnpyqES9obsUK9UlhjUr6Fm7ckE0UlgD19s5xBG"
 :scope "openid groups permissions roles user_id name nickname email picture"
 :callback-path "/auth/callback"
 :error-redirect "/login"
 :success-redirect "/"
 :logout-handler "/auth/logout"
 :logout-redirect "/"
 :title "TalkingPlace"
 :logo "https://lh5.googleusercontent.com/YYVFydkWdQfXC84O8sbeZ0b_hE_mKGCrk0CLileqQnRUcqAJLDs_5iHwllQ479J8VRCWJM1E6wMVE7M_hhr6=w1920-h974"}
