{:domain "magnum.auth0.com"
 :issuer "https://magnum.auth0.com/"
 :client-id "B7aOtrTYvW6enR13DZsQ4gI58QGEeHtE"
 :signing-algorithm :hs256
 :client-secret "tPBPYYlRK2fnZ1RNGSao_R9zQEnpyqES9obsUK9UlhjUr6Fm7ckE0UlgD19s5xBG"
 :scope "openid groups permissions roles user_id name nickname email picture"
 :callback-path "/auth/callback"
 :error-redirect "/login"
 :success-redirect "/"
 :logout-handler "/auth/logout"
 :logout-redirect "/"
 :title "TalkingPlace"
 :logo "https://lh4.googleusercontent.com/ucGbV4NtWL_77Najhans2ydXVp8CRApG2ihqEehgCaxjRdUQCHYpGnUpp6t9nI_iWQTdfq-XQIdZ4KfQ9eL6=w959-h925"}
